.book {
  position: relative;
  border: 1px solid #d0c9c0;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.book:hover {
  transform: translateY(-10px);
  height: 420px;
}

.book:hover .cart-button {
  bottom: 0px;
  opacity: 1;
}

.image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.wishlist-button {
  position: absolute;
  font-size: 1rem;
  top: 30px;
  right: 10px;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ed9c4b;
  border-radius: 50%;
  color: white;
  display: grid;
  place-items: center;
  font-weight: 800;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
}

.wishlist-button:hover {
  opacity: 0.8;
}
.clicked {
  color: white;
  background-color: black;
}
.book-info {
  margin-top: 10px;
  padding: 10px;
}

.title {
  font-weight: 600;
}

.price {
  font-weight: 700;
  color: #ed9c4b;
}

.cart-button {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ed9c4b;
  color: white;
  font-weight: 700;
  margin: 10px auto;
  text-align: center;
  font-size: 1rem;
  padding: 10px 20px;
  width: 180px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  transition-delay: 100ms;
}
.cart-button button {
  transition: all 0.5s ease-in-out;
}
.cart-button button:hover {
  opacity: 0.7;
}
@media (max-width: 640px) {
  .wishlist-button {
    height: 2rem;
    width: 2rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .wishlist-button {
    height: 1.75rem;
    width: 1.75rem;
    font-size: 0.75rem;
  }
}
